<legend>驾驶人分析研判</legend>
<legend>{{path}}</legend>
  <div class="row marginLR0">
    <div class="col-sm-4">
        <div class="input-group"> 
            <span class="input-group-addon">处理时间</span>
            <div datetimepicker-new
              class="form-control input-sm"
              placeholder="选择日期"
              ng-model="Q.startCLTime"
              format="'yyyy-mm-dd'"
              min-view="'month'"
              start-view="'month'">
            </div>
            <span class="input-group-addon">到</span>
            <div datetimepicker-new
              class="form-control input-sm"
              placeholder="选择日期"
              ng-model="Q.endCLTime"
              format="'yyyy-mm-dd'"
              min-view="'month'"
              start-view="'month'">
            </div>
        </div>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-5" style="padding-left:0px">
        <label for="" class="col-sm-3 control-label input-sm font13 padLR0">缴费标记</label>
        <div class="col-sm-9 padLR0">
            <select class="form-control input-sm"
                  ng-options="c.code as c.name for c in pays"
                  ng-model="Q.jkbj"></select>
        </div>
      </div>
      <div class="col-sm-5" style="padding-left:0px">
        <label for="" class="col-sm-3 control-label input-sm font13 padLR0">违法次数 >=</label>
        <div class="col-sm-9 padLR0">
            <input name="name" type="text" class="form-control input-sm"
          ng-model="Q.cs">
        </div>
      </div>
      <div class="pull-right">
        <div class="btn-group">
          <a class="btn btn-sm btn-primary" ng-click="query()">
          <i class="fa fa-search"> 查询</i>
          </a>
          <a class="btn btn-sm btn-warning " ng-click="analysis()">
            <i class="fa fa-warning"></i> 研判
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-5">
        <div class="panel panel-primary" style="height:361px">
          <div class="panel-heading">
            <span>列表</span>
          </div>
          <div class="panel-body">
            <table class="table table-condensed table-bordered">
              <tbody>
                <tr class="font14">
                  <th>违法排名</th>
                  <th>驾驶证号</th>
                  <th>当事人</th>
                  <th>违法次数</th>
                </tr>
                <tr ng-repeat="c in records">
                  <td>{{(Q.page-1)*Q.limit+$index+1}}</td>
                  <td>{{c.jszh || '暂缺'}}</td>
                  <td><a  ng-click="detail(c)">{{c.dsr || '暂缺'}}</a></td>
                  <td>{{c.cs}}</td>
                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
              <div pagination class="pagination-sm pull-right" boundary-links="true" rotate="false" 
                total-items="total"
                page="Q.page" 
                items-per-page="Q.limit"
                max-size="5"
                on-select-page="pChange(page)"
                previous-text="上一页"
                next-text="下一页"
                last-text="最后一页"
                first-text="最前一页">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="panel panel-primary" style="height:361px">
          <div class="panel-heading">
            <span>柱状图</span>
          </div>
          <div class="panel-body">
            <div highcharts data="chartColumnData" xaxis="chartColumnXAxis" title="驾驶人违法排名" type="column" ytitle="违法次数(/次)" chartheight="300" unit="次"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- 违法信息详情 -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;">
      <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title">违法信息详情
            </h4>
        </div>
        <div class="modal-body" style="padding-bottom:0px;padding-top:5px">
          <div class="col-sm-12">
            <div class="col-sm-3" style="padding-left:0px">
              <label for="" class="col-sm-12 control-label input-sm font13 padLR0">驾驶人:{{checkedDSR.dsr}}</label>
            </div>
            <div class="col-sm-5" style="padding-left:0px">
              <label for="" class="col-sm-12 control-label input-sm font13 padLR0">驾驶证号:{{checkedDSR.jszh}}</label>
            </div>
          </div>
          <div  class="col-sm-12">
             <table class="table table-condensed table-bordered table_noline">
                <tbody>
                  <tr class="font14">
                    <th>序号</th>
                    <th>违法时间</th>
                    <th>违法地址</th>
                    <th>违法行为</th>
                    <th>罚款金额</th>
                    <th>缴费标记</th>
                    <th>采集机关</th>
                  </tr>
                  <tr ng-repeat="c in detailRecords">
                    <td>{{(q.page-1)*q.limit+$index+1}}</td>
                    <td title="{{c.wfsj}}">{{c.wfsj}}</td>
                    <td title="{{c.wfdz}}">{{c.wfdz}}</td>
                    <td class="table_noline maxWidth2" title="{{c.wfxw.name}}">{{c.wfxw.name}}</td>
                    <td>{{c.fkje}}</td>
                    <td>{{c.jkbj.name}}</td>
                    <td title="{{c.cljgmc}}">{{c.cljgmc}}</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12">
                <div pagination class="pagination-sm pull-right" boundary-links="true" rotate="false" 
                  total-items="detailTotal"
                  page="q.page" 
                  items-per-page="q.limit"
                  max-size="5"
                  on-select-page="pChange(page,true)"
                  previous-text="上一页"
                  next-text="下一页"
                  last-text="最后一页"
                  first-text="最前一页">
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer" style="margin-top:0px;padding-top:5px">
          <div class="btn-group">
              <a class="btn btn-default btn-sm"  data-dismiss="modal">
              <i class="fa fa-time"> 关闭</i></a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- 研判信息 -->
<div class="modal fade" id="analysisModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1000px;">
      <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
            <h4 id="myModalLabel" class="modal-title"> 驾驶人研判
            </h4>
        </div>
        <div class="modal-body" style="padding-bottom:0px;padding-top:5px">
          <div  class="col-sm-12">
             <table class="table table-condensed table-bordered">
                <tbody>
                  <tr class="font14">
                    <th>序号</th>
                    <th style="width:230px">驾驶人</th>
                    <th style="width:650px">原因</th>
                  </tr>
                  <tr ng-repeat="c in judges">
                    <td>{{(q.page-1)*q.limit+$index+1}}</td>
                    <td>{{c.dsr}}[{{c.jszh}}]</td>
                    <td>{{c.level.reason}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <div class="modal-footer" style="margin-top:0px;padding-top:5px">
          <div class="btn-group">
              <a class="btn btn-default btn-sm"  data-dismiss="modal">
              <i class="fa fa-time"> 关闭</i></a>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>