<div class="my-box-shdow alert alert-default">
  <ul>
    <!-- <li class="col-sm-4" ng-repeat="item in items" style="list-style:none;text-align:center;" title="{{item.title}}">
      <i class="fa {{item.style}} fa-4"  x-ng-click="onClick(item,$event);"></i>
    </li> -->
    <li class="col-sm-6" style="list-style:none;text-align:center;" title="{{items[0].title}}">
      <i style="font-size: 4em;" class="pointer yhte-iconfont yhte-ico-primary" ng-click="onClick(items[0],$event);">&#xf0002;</i>
    </li>
    <li class="col-sm-6" style="list-style:none;text-align:center; cursor: pointer;" title="{{items[1].title}}">
      <i style="font-size: 4em;" class="pointer yhte-iconfont" ng-click="onClick(items[1],$event);">&#xf0001;</i>
    </li>
    <!-- <li class="col-sm-4" style="list-style:none;text-align:center;" title="{{items[2].title}}">
      <i style="font-size: 4em;" class="pointer iconfont" ng-click="onClick(items[2],$event);">&#xf0003;</i>
    </li> -->
  </ul>
</div>

