<legend>勤务列表</legend>
<div class="row">
    <div class="col-md-6 btn-group" style="padding-left:15px;">
        <!-- x-go-new 添加href属性，值为 当前页面url + 'New' -->
        <a class="btn btn-success btn-sm" ng-href="#/QWGL.QW.DutyNew">
            <span class="glyphicon glyphicon-plus"></span> 添加
        </a>
        <button class="btn btn-danger btn-sm" ng-click="remove();">
            <span class="glyphicon glyphicon-minus"></span> 删除
        </button>
<!--         <a class="btn btn-success btn-sm" ng-href="#/QWGL.QW.PoliceTrack/038113">
            <span class="glyphicon glyphicon-minus"></span> 警员轨迹
        </a> -->
    </div>

    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model="Q.name" placeholder="勤务名称">
            <span class="input-group-btn">
              <button class="btn btn-primary btn-sm" type="button" ng-click="query();">
                  <span class="glyphicon glyphicon-search" tooltip="查询"></span>
              </button>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th class="check">
                    <input type="checkbox" ng-model="allChecked" ng-change="selectAll();">
                </th>
                <th>勤务名称</th>
                <th>类型</th>
                <th>级别</th>
                <th>负责人</th>
                <th>执勤状态</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="record in records">
                <td class="check"><input type="checkbox" ng-model="checks[$index]" ng-click="select($index);"></td>
                <td><a ng-href="#/QWGL.QW.Duty/{{record.id}}/Edit" ng-click="pass(record)">{{record.name}}</a></td>
                <td>{{record.type.name}}</td>
                <td>{{record.level.name}}</td>
                <td>{{record.principal.name}}</td>
                <td>{{record.status.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 分页栏 -->
    <div class="col-md-12">
        <div pagination class="pagination-sm pull-right" boundary-links="true" rotate="false"
                    total-items="total"
                    page="Q.page"
                    items-per-page="Q.pageSize"
                    max-size="Q.maxSize"
                    on-select-page="pChange(page)"
                    previous-text="上一页"
                    next-text="下一页"
                    last-text="最后一页"
                    first-text="最前一页">
        </div>
    </div>
</div>
