<!-- <div class="col-100-auto col-sm-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{selected}}</h3>
    </div>
    <div class="panel-body">
      <div signal-map
        inter-id=""
        image-size="[400,400]"
        lane-width="20">
      </div>    
    </div>
  </div>
</div> -->

<!-- <form class="form-horizontal" role="form" name="entityForm">
  <div class="form-group">
    <h1 style="text-align: center;">特勤任务单{{record.name}}</h1>
  </div>
</form> -->

<legend>{{record.name}}编辑信号机预置位</legend>
<div class="col-100-auto col-sm-6">
  <div style="padding:15px 0;">

    <input type="text" ng-model="querySignal" typeahead="signal as signal.name for signal in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control input-sm" placeholder="请输入信号机名称检索" typeahead-on-select="onQuerySelect()" typeahead-append-to-body="false">
    
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <th>序号</th>
      <th>路口</th>
      <th>编辑预置位
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="snc in sncs">
        <td>{{$index+1}}</td>
        <td>
          <a ng-click="itemClick(snc);">{{snc.name}}</a>
        </td>
        <td>
          <select class="form-control input-sm" ng-model="snc.config.yzw" ng-options="c as c.name for c in types track by c.code"></select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-100-auto col-sm-6">
  <div class="panel panel-default" style="margin-top:15px;">
    <div class="panel-heading">
      <h5 ng-show="showList">
        {{selected.name}} 周边50米视频
      </h5>
      <h5 ng-hide="showList">
        {{currentVideo.name}}
        <button class="btn btn-default btn-sm" style="margin-left:10px" ng-click="showList=true;currentVideo=null;">
          <i class="fa fa-arrow-left"></i>
          返回
        </button>
      </h5>
    </div>
    <div class="panel-body">
      <div ng-show="showList">
        <p ng-show="selected.config.videos.length === 0">周边无视频</p>
        <div class="row" ng-repeat="video in selected.config.videos | paginator:page:size">
          <div class="col-sm-10 pointer" ng-click="openVideo(video)">
            <span class="badge badge-success">
              {{(page-1)*size+$index+1}}
            </span>
            {{video.name || 'XXX'}}
          </div>
          <div class="col-sm-2">
            <div class="hover-show-item pull-right" style="padding:0 5px;">
              <a tooltip="删除视频">
                <span class="fa fa-times" ng-click="delete(video)"></span>
              </a>
              <a tooltip="设置预置位">
                <span class="fa fa-wrench"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="pagination-sm pull-right"
              ng-show="total>size"
              pagination 
              boundary-links="true" 
              total-items="total" 
              page="page"
              items-per-page="size"
              max-size="5" 
              previous-text="&lsaquo;" 
              next-text="&rsaquo;" 
              first-text="&laquo;" 
              last-text="&raquo;">
            </div>
          </div>
        </div>
      </div>
      <div ng-hide="showList">
        <div atms-jq-video data="feature" ocx-height='260px' style="height: 310px;"></div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="saveSign()">保存预置位及视频</button>
</div>
<!-- </form> -->


<!-- <div class="col-100-auto col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">下一路视频</h3>
    </div>
    <div class="panel-body">

      <div class="row" ng-repeat="video in selected.config.videos | paginator:page:size">
        <div class="col-sm-10 pointer" ng-click="openVideo(video)">
          <span class="badge badge-success">
            {{(page-1)*size+$index+1}}
          </span>
          {{video.name || 'XXX'}}
        </div>
        <div class="col-sm-2">
          <div class="hover-show-item pull-right" style="padding:0 5px;">
            <a tooltip="设置预置位">
              <span class="fa fa-wrench"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="pagination-sm pull-right"
            ng-show="total>size"
            pagination 
            boundary-links="true" 
            total-items="total" 
            page="page"
            items-per-page="size"
            max-size="5" 
            previous-text="&lsaquo;" 
            next-text="&rsaquo;" 
            first-text="&laquo;" 
            last-text="&raquo;">
          </div>
        </div>
      </div>

      <div atms-jq-video data="feature" ocx-height='260px' style="height: 310px;"></div>
    </div>
  </div>

  <button type="button" class="btn btn-sm btn-primary pull-right" ng-click="saveSign()">保存预置位及视频</button>
</div> -->

