<div>
  <div class="row">
    <div class="col-sm-12">
      <h5 class="text-success">鼠标点击地图上指定岗位位置。</h5>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-sm btn-default" 
        ng-click="prevClick();">上一步</button>
      
      <div class="btn-group pull-right">
        <button class="btn btn-sm btn-default" 
          ng-click="passClick();">&#160;跳&#160;&#160;过&#160;</button>

        <button class="btn btn-sm btn-primary"
          ng-click="nextClick();">下一步</button>
      </div>
    </div>
  </div>
</div>