<legend>
 信息发布列表
</legend>

<div>
 <!-- 工具栏 -->
 <div class="row">
  <div class="col-md-7 btn-group" style="padding-left: 15px;">
   <!-- x-go-new 添加href属性，值为 当前页面url + 'New' -->
   <!-- <a class="btn btn-success btn-sm" ng-href="#XTGL.DICT.New"> -->
   <a class="btn btn-success btn-sm" ng-href="#XXFB.PUBLISH.MsgPubNew"> <span
   class="glyphicon glyphicon-plus"></span> 新增 </a>
  </div>

  <div class="col-md-5">
   <div class="input-group">
    <input type="text" class="form-control input-sm"
    placeholder="标题" ng-model="Q.title">
    <span class="input-group-btn">
     <button class="btn btn-primary btn-sm" type="button"
     ng-click="query();">
      <i class="fa fa-search"> 查询</i>
     </button>
     <button class="btn btn-primary btn-sm" type="button" ng-click="advance()">
      <i class="fa fa-wrench" ng-hide="showAdvance"> 条件检索</i>
      <i class="fa fa-wrench" ng-show="showAdvance"> 收起</i>
     </button> </span>
   </div>
  </div>
 </div>
 <!-- 高级查询 -->
 <div class="row" ng-show="showAdvance">
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">发送状态</span>
    <select class="form-control input-sm" ng-model="Q.status"
    ng-options="c.code as c.name for c in statuses"></select>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">发送目标</span>
    <select class="form-control input-sm" ng-model="Q.target"
    ng-options="c.code as c.name for c in targets"></select>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">信息来源</span>
    <select class="form-control input-sm" ng-model="Q.source"
    ng-options="c.code as c.name for c in sources"></select>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">信息类型</span>
    <select class="form-control input-sm" ng-model="Q.type"
    ng-options="c.code as c.name for c in types"></select>
   </div>
  </div>
 </div>
 <div class="row" ng-show="showAdvance">
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">开始发送时间</span>
    <div datetimepicker ng-model="Q.startSendTime" format="yyyy-MM-dd hh:mm:ss"></div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="input-group">
    <span class="input-group-addon">结束发送时间</span>
    <div datetimepicker ng-model="Q.endSendTime" format="yyyy-MM-dd hh:mm:ss"></div>
   </div>
  </div>
 </div>
 <!-- 表格 -->
 <div class="row">
  <div class="col-md-12 map-over-this">
   <table class="table table-bordered table-hover table-condensed">
    <thead>
     <tr>
      <!-- <th class="check">
      <input type="checkbox" ng-model="allChecked"
      ng-click="selectAll();">
      </th> -->
      <th>标题</th>
      <th>发送时间</th>
      <th>发送人</th>
      <th>发送状态</th>
      <th>信息来源</th>
      <th>信息类型</th>
      <th>发送目标</th>
      <th>操作</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="record in records">
      <!-- <td class="check">
      <input type="checkbox"
      ng-model="checks[$index]" ng-click="select($index);">
      </td> -->
      <td>{{record.title}}</a></td>
      <td>{{record.sendTime}}</td>
      <td>{{record.user.userName}}</td>
      <td>{{record.status.name}}</td>
      <td>{{record.source.name}}</td>
      <td>{{record.type.name}}</td>
      <td>{{record.target.name}}</td>
      <td class="text-center"><a styel="margin-left:45px"><i class="fa fa-eye" tooltip="详细信息" ng-click="infoModal(record);"></i></a></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>

 <!-- 分页栏 -->
 <div class="row">
  <div class="col-md-12">
   <div pagination class="pagination-sm pull-right" boundary-links="true"
   rotate="false" total-items="total" page="Q.page"
   items-per-page="Q.pageSize" max-size="Q.maxSize"
   on-select-page="pChange(page)" previous-text="上一页" next-text="下一页"
   last-text="最后一页" first-text="最前一页"></div>
  </div>
 </div>

 <!--模态对话框-->
 <div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
 aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
   <div class="modal-content">
    <div class="modal-header">
     <button aria-hidden="true" data-dismiss="modal" class="close"
     type="button">
      ×
     </button>
     <h4 id="myModalLabel" class="modal-title"> 信息发布详情 </h4>
    </div>
    <div class="modal-body">
     <table class="table table-condensed table-bordered ">
      <tr>
       <td style="width: 80px;">标题</td>
       <td style="width: 200px;">{{checkRecord.title}}</td>
       <td style="width: 80px;">内容</td>
       <td>{{checkRecord.content}}</td>
      </tr>
      <tr>
       <td>发送时间</td>
       <td>{{checkRecord.sendTime}}</td>
       <td>发送人</td>
       <td>{{checkRecord.user.userName}}</td>
      </tr>
      <tr>
       <td>回馈时间</td>
       <td>{{checkRecord.feedbackTime}}</td>
       <td>发送状态</td>
       <td>{{checkRecord.status.name}}</td>
      </tr>
      <tr>
       <td>信息来源</td>
       <td>{{checkRecord.source.name}}</td>
       <td>信息类型</td>
       <td>{{checkRecord.type.name}}</td>
      </tr>
      <tr>
       <td>发送目标</td>
       <td>{{checkRecord.status.name}}</td>
       <td>上传照片</td>
       <td>如下所示</td>
      </tr>
      <tbody id="imgTrs">
      </tbody>
     </table>
    </div>
    <div class="modal-footer">
     <div class="btn-group">
      <button class="btn btn-primary btn-sm" data-dismiss="modal">
       <span class="glyphicon glyphicon-remove-circle" tooltip="关闭对话框"></span>关闭
      </button>
     </div>
    </div>
   </div>
   <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
 </div>

</div>