<legend>
  综合管理 > 设备设施管理 > 设备 / 
    <a href="#/SBGL.FacilityList" style="font-size:15px">设施</a> 
</legend>

<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-9 padLR0">
        <div class="input-group">
          <span class="input-group-btn">
            <a class="btn btn-sm btn-success" tooltip="新增设备" ng-href="#/SBGL.DeviceNew">
              <i class="fa fa-plus"></i>
            </a>
          </span>
          <input type="text" class="form-control input-sm" placeholder="输入设备名称..." ng-model="Q.name">
        </div>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">类型</span>
          <select class="form-control input-sm"
            ng-options="c.code as c.name for c in types"
            ng-model="Q.typeCode">
          </select>
        </div>
      </div>
      <button class="col-sm-1 btn btn-sm btn-primary" type="button"
        ng-click="query();">
        <i class="fa fa-search"> 查询</i>
      </button>
    </div>
  </div>
  <!-- 表格 -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th class="check"><input type="checkbox"
              ng-model="allChecked" ng-change="selectAll();"></th>
            <th>设备编号</th>
            <th>名称</th>
            <th>设备类型</th>
            <th>启用日期</th>
            <th>管辖单位</th>
            <th>所属道路</th>
            <th>维护单位</th>
            <th>设备状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="record in records">
            <td class="check"><input type="checkbox"
              ng-model="checks[$index]" ng-click="select($index);">
            </td>
            <td>{{record.no}}</td>
            <td><a ng-href="#SBGL.Device/{{record.id}}/Edit2">{{record.name}}</a></td>
            <td>{{record.type.name}}</td>
            <td>{{record.startTime}}</td>
            <td>{{record.manageDeptCode}}</td>
            <td>{{record.belongRoad}}</td>
            <td>{{record.maintain}}</td>
            <td><label class="label"
              ng-class="{'1': 'label-success', '2': 'label-danger', '3': 'label-warning', '4': 'label-default'}['{{record.status.code}}']">{{record.status.name
                || 'null'}}</label></td>
            <td class="text-center">
              <a><i class="fa fa-map-marker" tooltip="地图定位" ng-click="viewChange(record)"></i></a>
              <a styel="margin-left:45px"><i class="fa fa-eye" tooltip="详细信息" ng-click="infoModal(record);"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 分页栏 -->
    <div class="col-sm-12">
      <div pagination class="pagination-sm pull-right" boundary-links="true"
        rotate="false" total-items="total" page="Q.page"
        items-per-page="Q.pageSize" max-size="Q.maxSize"
        on-select-page="pChange(page)" previous-text="上一页" next-text="下一页"
        last-text="最后一页" first-text="最前一页"> </div>
    </div>
  </div>
  <!--模态对话框-->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close"
            type="button">×</button>
          <h4 id="myModalLabel" class="modal-title">
            设备『{{checkRecord.name}}』 <label class="label"
              ng-class="{'1': 'label-success', '2': 'label-danger', '3': 'label-warning', '4': 'label-default'}['{{checkRecord.status.code}}']">{{checkRecord.status.name
              || 'null'}}</label>
          </h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed table-bordered ">
            <tr>
              <td class="col-sm-2">设备编号</td>
              <td class="col-sm-4">{{checkRecord.no}}</td>
              <td class="col-sm-2">设备名称</td>
              <td class="col-sm-4">{{checkRecord.name}}</td>
            </tr>
            <tr>
              <td>设备类型</td>
              <td>{{checkRecord.type.name}}</td>
              <td>设备型号</td>
              <td>{{checkRecord.mode.name}}</td>
            </tr>
            <tr>
              <td>厂商名称</td>
              <td>{{checkRecord.factory.name}}</td>
              <td>厂商电话</td>
              <td>{{checkRecord.factoryPhone}}</td>
            </tr>
            <tr>
              <td>安装日期</td>
              <td>{{checkRecord.buildTime}}</td>
              <td>启用日期</td>
              <td>{{checkRecord.startTime}}</td>
            </tr>
            <tr>
              <td>启用日期</td>
              <td>{{checkRecord.startTime}}</td>
              <td>辖区大队</td>
              <td>{{checkRecord.manageDept.name}}</td>
            </tr>
            <tr>
              <td>经度</td>
              <td>{{checkRecord.lng}}</td>
              <td>纬度</td>
              <td>{{checkRecord.lat}}</td>
            </tr>
            <tr>
              <td>位置描述</td>
              <td colspan="3">{{checkRecord.address}}</td>
            </tr>
            <tr>
              <td>所属道路</td>
              <td>{{checkRecord.belongRoad}}</td>
              <td>线路厂商</td>
              <td>{{checkRecord.lineMaintain.name}}</td>
            </tr>
            <tr>
              <td>施工单位</td>
              <td>{{checkRecord.builder}}</td>
              <td>维护单位</td>
              <td>{{checkRecord.maintain}}</td>
            </tr>
            <tr>
              <td>通信方式</td>
              <td>{{checkRecord.comModel.name}}</td>
              <td>通信地址</td>
              <td>{{checkRecord.comUrl}}</td>
            </tr>
            <tr>
              <td>备注</td>
              <td>{{checkRecord.remark}}</td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <button class="btn btn-primary btn-sm" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove-circle" tooltip="关闭对话框"></span>关闭
            </button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>