<div class="modal-header">
    <button type="button btm-sm" class="close" ng-click="close()">&times;</button>
    <h4 class="modal-title">
        <b>布控报警比对</b>
    </h4>
</div>
<div class="modal-body">
             <div class="row">
               <div class="col-sm-5">
                 <img src="{{imgUrl}}" style="border: 1px solid #666;height:250px;width:430px;">
               </div>
               <div class="col-sm-7">
                 <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">布控单位</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.dispDeptName" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">布控类型</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.dispType.name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">布控原因</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.dispReason.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">布控状态</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.status.name" class="form-control"/>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">号牌号码</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.plateNo" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">号牌颜色</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.plateColor.name" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">车身颜色</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.carColor.name" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">联系人</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.person" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">值班号码</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.tel" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">手机号码</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.phone" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">布控时间</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.dispTime" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                        <label class="col-sm-4 control-label" style="padding-right: 0px;">截止时间</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="disRecord.dispEndTime" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-2 control-label" style="padding-left: 0px; padding-right: 10px;">案件描述</label>
                        <div class="col-sm-10" style="padding-left:5px; padding-right: 0px;">
                            <input type="text" ng-model="disRecord.dispDesc" class="form-control"/>
                        </div>
                    </div>
                </div>
            </form>
               </div>
             </div>
             <div class="row">
                <div class="col-sm-5">
                  <img src="{{dispatchImgUrl}}" style="border: 1px solid #666;height:250px;width:430px;">
                </div>
                <div class="col-sm-7">
                  <form class="form-horizontal">
                  <div class="form-group">
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">号牌号码</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="alarmRecord.plateNo" class="form-control"/>
                          </div>
                      </div>
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">号牌颜色</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="alarmRecord.plateColor.name" class="form-control"/>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">车身颜色</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="alarmRecord.carColor.name" class="form-control"/>
                          </div>
                      </div>
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">行驶方向</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="alarmRecord.direction.name" class="form-control"/>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">经过时间</label>
                          <div class="col-sm-8">
                              <input type="text" ng-model="alarmRecord.passtime" class="form-control"/>
                          </div>
                      </div>
                      <div class="col-sm-6" style="padding-left: 0px; padding-right: 0px;">
                          <label class="col-sm-4 control-label" style="padding-right: 0px;">报警时间</label>
                          <div class="col-md-8">
                              <input type="text" ng-model="alarmRecord.alarmTime" class="form-control"/>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-12">
                          <label class="col-sm-2 control-label" style="padding-left: 0px; padding-right: 10px;">报警地点</label>
                          <div class="col-sm-10" style="padding-left:5px; padding-right: 0px;">
                              <input type="text" ng-model="alarmRecord.unlawfulAddr" class="form-control">
                          </div>
                      </div>
                  </div>
              </form>
                </div>
              </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-sm" ng-click="close()">确定</button>
</div>