<legend>{{title}}</legend>

<div class="col-md-3">
  <div class="list-group">
    <a ng-href="#/SBGL.DeviceRegistDevice" class="list-group-item">基础设备管理</a>
    <a ng-href="#/SBGL.DeviceRegistFacility" class="list-group-item">基础设施管理</a>
    <a ng-href="#/ZHGL.TrafficSigns" class="list-group-item">标志标牌管理</a>
    <a ng-href="#/XXFB.CMS.CmsList" class="list-group-item">诱导屏管理</a>
    <a ng-href="#/SBGL.KK.List" class="list-group-item active">卡口点位管理</a>
  </div>
</div>

<div class="col-sm-9">

  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-11 padLR0">
        <div class="input-group">
          <span class="input-group-btn">
            <a class="btn btn-sm btn-success" tooltip="新增卡口点位" ng-href="#/SBGL.KK.New">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </span>
          <input type="text" class="form-control input-sm" placeholder="输入卡口名称..." ng-model="Q.pointName">
        </div>
      </div>
      <!-- <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">类型</span>
          <select class="form-control input-sm"
            ng-options="c.code as c.name for c in types"
            ng-model="Q.typeCode">
          </select>
        </div>
      </div> -->
      <button class="col-sm-1 btn btn-sm btn-primary" type="button"
        ng-click="query();">
        <i class="fa fa-search"> 查询</i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered table-hover table-condensed table-striped table-responsive">
        <thead>
          <tr>
            <th class="check"><input type="checkbox" ng-model="allChecked"
              ng-click="selectAll();">
            </th>
            <td class="no">序号</td>
            <td>点位编号</td>
            <td>名称</td>
            <td>管理单位</td>
            <td>位置</td>
            <td>方向</td>
            <td>状态</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in records">
            <td class="check">
              <input type="checkbox" ng-model="checks[$index]" ng-click="select($index);">
            </td>
            <td>{{$index+1}}</td>
            <td>
                {{item.pointNo}}
            </td>
            <td><a ng-href="#/SBGL.KK.Edit/{{item.pointNo}}">{{item.pointName}}</a></td>
            <td>{{item.managerName}}</td>
            <td>{{item.pointAddr}}</td>
            <td>{{item.roadTrend}}</td>
            <td>{{item.status.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div pagination class="pagination-sm pull-right" boundary-links="true"
        rotate="false" total-items="total" page="Q.page"
        items-per-page="Q.pageSize" max-size="Q.maxSize"
        on-select-page="pChange(page)" previous-text="上一页" next-text="下一页"
        last-text="最后一页" first-text="最前一页"> 
      </div>
    </div>
  </div>

</div>