
<legend>交通流量断面比分析</legend>

<div class="row">
  <div class="col-md-3">
      <div class="list-group">
          <a href="#/FXYP.LLTJ.Hour" class="list-group-item">日小时流量分析</a>
          <a href="#/FXYP.LLTJ.Day" class="list-group-item active">月流量分析</a>
          <a href="#/FXYP.LLTJ.Peak" class="list-group-item">日高峰流量分析</a>
      </div>
  </div>
  <div class="col-md-9">
      <legend>月流量分析</legend>

      <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-12" style="padding-left:0px">
              <label for="" class="col-sm-1 control-label input-sm font14">断面:</label>
              <div class="col-sm-11">
                  <select class="selectpicker  show-tick form-control col-sm-12"
                    id="facetSelect" 
                    opts="facets"
                    showname = "facetName"
                    val="facetId"
                    title="选择断面"
                    data-live-search="true"
                    data-subtext="laneCount"
                    multiple>
                  </select>
              </div>

            </div>

        </div>
        <div class="col-sm-12">
            <div class="col-sm-4" style="padding-left:0px">
              <label for="" class="col-sm-3 control-label input-sm font14">月份:</label>
              <div class="col-sm-9">
                <div datetimepicker-new
                  class="form-control input-sm"
                  placeholder="选择月份"
                  ng-model="Q.queryTime"
                  format="'yyyy-mm'"
                  min-view="'year'"
                  start-view="'year'">
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <label for="" class="col-sm-3 control-label input-sm font13 padLR0">统计类型:</label>
              <div class="col-sm-9" >
                  <select class="form-control input-sm"
                      ng-options="c.value as c.name for c in showTypes"
                      ng-model="showType"
                      ng-change="changeType()"></select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="btn-group pull-left">
                  <a class="btn btn-sm btn-primary" ng-click="getSelect()">
                    <i class="fa fa-search"> 统计</i>
                  </a>
                  <!-- <a class="btn btn-sm btn-success" ng-click="">
                    <i class="fa fa-cloud-download"></i> 导出
                  </a> -->
              </div>
            </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <ul style="list-style:none" ng-show="showType === 'list'">
            <li ng-repeat="e in records">
              <a><i class="fa fa-plus" ng-click="e.detail = true;" ng-show="!e.detail"> {{e.facetName ||'暂缺'}}</i></a>
              <a><i class="fa fa-minus" ng-click="e.detail = false" ng-show="e.detail"> {{e.facetName ||'暂缺'}}</i></a>
              <div  class="col-sm-12" ng-show="e.detail">
                <table class="table table-condensed table-bordered font11">
                  <tr>
                    <td>采集时间</td>
                    <td>流量(辆)</td>
                    <td>速度(km/h)</td>
                    <td>占有率(%)</td>
                  </tr>
                  <tr ng-repeat="c in e.facetFlowDatas |paginator:page:size">
                    <td>{{c.getTimeStr}}</td>
                    <td>{{c.flow}}</td>
                    <td>{{c.speed}}</td>
                    <td>{{(c.occupy*100).toFixed(2)}}</td>
                  </tr>
                </table>
                <div class="row">
                  <div class="col-sm-12">
                    <div pagination 
                      total-items="e.facetFlowDatas.length" 
                      items-per-page="size"
                      page="page" 
                      max-size="maxSize"
                      class="pagination-sm pull-right" 
                      boundary-links="true" 
                      rotate="false" 
                      previous-text="&lsaquo;" 
                      next-text="&rsaquo;" 
                      first-text="&laquo;" 
                      last-text="&raquo;">
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-12" ng-show="showType === 'line'">
           <div highcharts data="chartLineData" xaxis="chartLineXAxis" title="图表" type="line" ytitle="过车数(辆)"></div>
        </div>
        <div class="col-sm-12" ng-show="showType === 'column'">
           <div highcharts data="chartColumnData" xaxis="chartColumnXAxis" title="图表" type="column"  ytitle="过车数(辆)"></div>
        </div>
      </div>
  </div>
</div>