<legend>权限管理</legend>

<!-- 工具栏 -->
<div class="row">
  <div class="col-sm-3 btn-group">
    <!-- x-go-new 添加href属性，值为 当前页面url + 'New' -->
    <!-- <a class="btn btn-success btn-sm" ng-href="#XTGL.DICT.New"> -->
  </div>

  <div class="col-sm-9">
    <!-- <div class="row"> -->
      <div class="col-sm-11">
      </div>
      <button class="col-sm-1 btn btn-primary btn-sm" type="button"
        ng-click="assign();">
        <i class="fa fa-search"> 授权</i>
      </button>
    <!-- </div> -->
  </div>
</div>
<!-- 主要内容 -->
<div class="row">
  <div class="col-sm-3">
    <legend><button class="btn btn-info btn-sm col-md-12">部门用户树</button></legend>
    <div z-tree 
      setting="config"
      ng-model="data"
      tree-obj="tree1"
      checked-nodes="checkedNodes"
      selected-nodes="selectedNodes">
    </div>
  </div>
  <div class="col-sm-9">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th class="check"><input type="checkbox" ng-model="allChecked"
            ng-click="selectAll();">
          </th>
          <!-- <th class="remove"></th> -->
          <!-- <th class="no">序号</th> -->
          <th>角色编码</th>
          <th>角色名称</th>
          <th>创建时间</th>
          <th>有效性</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="record in records">
          <td class="check"><input type="checkbox"
            ng-model="checks[$index]" ng-click="select($index);">
          </td>
          <td>{{record.code}}</td>
          <td>{{record.name}}</td>
          <td>{{record.creatTime}}</td>
          <td>{{record.status.name}}</td>
          <td>{{record.remark}}</td>
        </tr>
      </tbody>
    </table>
  </div>
    
</div>

<!-- 分页栏 -->
<div class="row">
  <div class="col-sm-12">
    <div pagination class="pagination-sm pull-right" boundary-links="true"
      rotate="false" total-items="total" page="Q.page"
      items-per-page="Q.pageSize" max-size="Q.maxSize"
      on-select-page="pChange(page)" previous-text="上一页" next-text="下一页"
      last-text="最后一页" first-text="最前一页"> </div>
  </div>
</div>